.modal {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity:0;
    transition: 0.5s;
    pointer-events: none;
}

.modal_active {
    opacity: 1;
    pointer-events: all;
}

.modal__content {
    width: 50vh;
    height: 50vh;
    padding: 0;
    border-radius: 12px;
    background-color:  rgb(246, 243, 249);
    transform: scale(0.5);
    transition: 0.4s all;
}

.modal__content_active {
    transform: scale(1)
}